* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(to top left, #0b444e, #040504);
  background-image: url('wallPaper.JPG');
  background-repeat: no-repeat;
  background-size: auto;
}

.profile {
  top: 10px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.tooltip {
  /* visibility: visible; */
  left: 10%;
  top: 10%;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.fin-btn:hover .tooltip {
  visibility: visible;
}

p {
  font-size: 15px;
}

.login-field {
  top: 40%;
  left: 45%;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 160px;
  background-color: rgb(34, 34, 34);
  font-family: sans-serif;
  font-size: 15px;
  z-index: 1;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

#login-btn {
  box-shadow: 0 0.5rem 1.5rem rgba(29, 28, 28, 0.9);
  border-radius: 3px;
}

#logout-btn {
  position: relative;
  top: -13px;
  box-shadow: 0 0.5rem 1.5rem rgba(29, 28, 28, 0.9);
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.show-pass {
  cursor: pointer;
}

.time-display {
  position: absolute;
  text-align: left;
  top: 13px;
  left: 2rem;
  font-size: 17px;
}

.upper-menu {
  position: fixed;
  background-color: rgb(34, 34, 34);
  width: 100%;
  text-align: right;
  margin-top: auto;
  top: 0;
  z-index: 1;
}

.access-menu {
  position: absolute;
  line-height: 2.5;
  top: 5rem;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main-title {
  font-size: 35px;
  z-index: 4;
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

/* .main-menu {
  position: absolute;
} */

.div1 {
  position: relative;
  width: 200px;
  height: 210px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  background-color: rgb(60, 40, 80);
  margin-left: auto;
  margin-right: auto;
  right: 36rem;
}

.div2 {
  position: relative;
  bottom: 21rem;
  width: 200px;
  height: 210px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  background-color: rgb(30, 30, 160);
  margin-left: auto;
  margin-right: auto;
  right: 12rem;
}

.div3 {
  position: relative;
  left: 12rem;
  bottom: 42rem;
  width: 200px;
  height: 210px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  background-color: rgb(30, 115, 135);
  margin-left: auto;
  margin-right: auto;
}

.div4 {
  position: relative;
  left: 36rem;
  bottom: 63rem;
  width: 200px;
  height: 210px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  background-color: rgb(29, 151, 59);
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.btn-cyan {
  /* position: absolute; */
  /* left: 50%;*/
  justify-content: center;
  align-items: flex-start;
  color: rgb(220, 220, 220);
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 200;
  transition: all 0.5s;
  background-color: rgba(32, 116, 155, 0.1);
  backdrop-filter: blur(10px);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
}

button:active {
  transform: translate(1px, 1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

button:hover {
  opacity: 50%;
}

.div1:hover {
  transition: all 0.5s;
  backdrop-filter: blur(20px);
  background-color: rgb(100, 60, 120);
}

.div2:hover {
  transition: all 0.5s;
  backdrop-filter: blur(20px);
  background-color: rgb(50, 50, 220);
}

.div3:hover {
  transition: all 0.5s;
  backdrop-filter: blur(20px);
  background-color: rgb(40, 150, 170);
}

.div4:hover {
  transition: all 0.5s;
  backdrop-filter: blur(20px);
  background-color: rgb(39, 194, 78);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  z-index: 10;
}
